
<div >
  <h3>关于沙尔克中国球迷会</h3>
</div>
<main class="app-body">
   <article class="post-article">
    <section class="markdown-content"><%- page.content %></section>
    <% if (page.tags && page.tags.length) { %>
      <div class="tags">
        <span>Tags:</span>
        <%- partial('_partial/tag', { tags: page.tags }) %>
      </div>
    <% } %>
    
  </article>
</main>

<script>
  (function () {
    // $('.header').removeClass('fixed-header')
    var windowH = $(window).height();
    var author = $('.author')
    var bodyH = author.offset().top + author[0].offsetHeight + 71;
    if (bodyH < windowH) {
      author.css({
        'margin-bottom': windowH - bodyH
      })
    }
  })();
</script>